
.text-char{
    border-radius: 10px;
    height: 1.5rem;
    width: 15rem;
    background-color: black;
    border: 1px solid black;
    box-shadow: 2px 5px 5px 1px black;
    font-family: 'Roboto', sans-serif;
    color: rgb(216, 215, 215);
}

.max-char{
    font-size: 1rem;
    text-align: center;
    color: rgba(251, 238, 0, 0.759);
    font-family: 'Roboto', sans-serif;
}
